/* ----------------------------------------------------------------
	Custom CSS

	Add all your Custom Styled CSS here for New Styles or
	Overwriting Default Theme Styles for Better Handling Updates
-----------------------------------------------------------------*/


.color {
	color: #173852 !important;
}

.grid-filter li.activeFilter a{
	background-color: #173852;
}

.slider-caption h2 {
	font-size: 60px;
}

#footer .footer-widgets-wrap {
	padding: 0;
}

.fbox-plain .fbox-icon i{
	color: #173852;
}
/* 173852 */

.owl-carousel .owl-item {
	padding-left: 30px;
}